.footer {
  flex-basis: 15%;
  padding: 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  &__btn {
    width: 100%;
    height: 95%;
    margin-top: 1%;
  }
  @media screen and(min-width:960px) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    &__btn {
      // width: 45%;
      height: unset;
    }
  }
}
